@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* 重設樣式 */
:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
button {
  border: none;
}
h2 {
  font-family: "DM Serif Display";
  font-size: 2.2rem;
  font-weight: 400;
}
h3 {
  font-family: "DM Serif Display";
  font-size: 1.8rem;
  font-weight: 400;
}
body {
  background: url("../images/bg.jpg") repeat-y;
  background-size: 100%;
  background-position: center;
}
section {
  padding: 20px 0;
}
#Banner {
  background: url("../images/phone/Banner.png") no-repeat;
  background-size: 100%;
  background-position: bottom center;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
}

.container {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  margin: auto;
  padding: 20px;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "DM Serif Display";
  font-weight: 400;
}
.desc {
  font-family: "Jost";
}
.get {
  font-family: "Jost";
  padding: 16px 25px;
  background-color: #292f36;
  color: white;
  border-radius: 18px;
  font-size: 1.125rem;
  margin-top: 20px;
}
i {
  font-size: 1.125rem;
  color: #cda274;
}

/* Work */
#Work > .container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
}
.read {
  background: transparent;
  font-weight: bold;
  font-size: 1.125rem;
}
#Work p {
  text-align: center;
  font-size: 1.375rem;
}
span {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 1.5625rem;
}
.Sub-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 50px;
}

/* About */
#About .container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  order: 1;
}
.phone {
  font-family: "Jost";
  font-size: 1.5rem;
  font-weight: bold;
}
.info-img img {
  width: 100%;
  margin: 30px auto;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.section-title {
  text-align: center;
  margin-bottom: 10px;
}
.contact-group {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.circle-icon {
  width: 90px;
  height: 90px;
  background-color: #f4f0ec;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-icon i {
  font-size: 2rem;
}
/* Feedback */
#Feedback .container {
  background-color: #f4f0ec;
  padding: 30px;
}
#Feedback .container > h2 {
  text-align: center;
  
}
.feedback-card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 70px 20px;
}
.p-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.p-desc {
  font-family: "Jost";
  font-size: 22px;
}
.p-img img {
  width: 70px;
  height: 70px;
}

/* 客戶logo */
#Client-Logo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin: 20px;
}

/* 專案 */

#Project .container{
  width: 90%;
}
.project-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.project-card{
  margin-bottom: 3.125rem;
  
}
.project-info .desc{
  text-align: center;
}
.pro-img img{
  width: 100%;
}
.pro-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.pro-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #F4F0EC;
  border-radius: 50%;
}
.pro-icon i{
  font-size: 2rem;
}
img.card1{
  border-top-right-radius: 50px;
}
img.card2{
  border-top-left-radius: 50px;
}
img.card3{
  border-bottom-right-radius: 50px;
}
img.card4{
  border-bottom-left-radius: 50px;
}

/* 數字 */
#Counter{
  background-color: #F4F0EC;
}
#Counter .container{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.counter{
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter .num{
  color: #CDA274;
  font-family: "DM Serif Display";
  font-size: 3.75rem;
}
.counter .desc{
  font-family: "Jost";
}

/* 文章 */
.blog-desc{
  text-align: center;
}
.colorcard{
  background-color: #F4F0EC;
}
.blog-card{
  border-radius: 50px;
  position: relative;
}
.blog-body{
  border: 1px solid #E7E7E7;
  border-radius: 50px;
  margin: 20px 0;
}
.blog-contenet{
  margin: 20px;
  border-radius: 40px;
}
.blog-img img{
  border-radius: 40px 40px 0 0;
  width:100%;
}
.blog-box{
  display: flex;
  flex-direction: column;
}

.date-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.blog-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #F4F0EC;
  border-radius: 50%;
}
.blog-icon i{
  color: black;
}
.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: white;
  border-radius: 8px 8px 8px 0;
  color: #333;
  position: absolute;
  top:220px;
  left:30px;
}

/* contact */
#Contact .container{
  background-color: #292F36;
}
.text-title h2{
  color:white;
}













/* RWD平板 */
@media screen and (min-width: 768px) {
  :root {
    font-size: 14px;
  }
  #Banner {
    background: url("../images/tablet/Banner.jpg") no-repeat;
    background-size: 100%;
    background-position: bottom center;
    border-bottom-left-radius: 150px;
  }
  .container {
    justify-content: flex-start;
    background-color: transparent;
  }
  .hero-info {
    width: 40%;
  }
  #Work > .container {
    width: 100%;
    flex-direction: row;
    gap: 1.5rem;
    margin: 100px auto;
  }
  #About > .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .intro-box {
    order: 0;
    width: 40%;
    align-items: flex-start;
  }
  .intro-box .section-title {
    text-align: left;
  }
  .info-img {
    width: 50%;
  }
  /* feedback */
  #Feedback .container {
    padding: 60px 10px;
  }
  .feedback-card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 20px;
  }
  .feedback-card {
    justify-content: center;
    width: 370px;
    margin: 0 10px;
    padding: 30px 20px;
  }
  /* 客戶logo */
  #Client-Logo .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #Client-Logo img{
    width: 95%;
  }
  /* 專案 */
  #Project .desc{
    width: 50%;
  }
  .project-card-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-card{
    width: 48%;
  }
  /* 數字 */
  #Counter .container{
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px;
  }
  /* 文章 */
  .blog-card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-desc{
    width: 60%;
    text-align: center;
  }
  .blog-card{
    width: 32%;
  }
  .tag{
  top:200px;
}
}








/* RWD 電腦 */
@media screen and (min-width: 1025px) {
  :root {
    font-size: 18px;
  }
  #Banner {
    background: url("../images/Banner.jpg") no-repeat;
    background-size: 100%;
    background-position: bottom center;
    height: 600px;
    border-bottom-left-radius: 300px;
  }
  .container {
    width: 80%;
    max-width: 1140px;
    background-color: transparent;
  }
  .hero-info {
    width: 30%;
  }
  #Work > .container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin: 100px auto;
  }
  .read {
    font-size: 16px;
  }
  .info-box {
    width: 100%;
  }
  #About .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .intro-box {
    order: 0;
    width: 30%;
    align-items: flex-start;
  }
  .info-img {
    width: 60%;
  }
  .section-title {
    text-align: left;
  }
  /* feedback */
  #Feedback .container {
   display: flex;
   flex-direction: column;
   align-items: center;
    padding: 60px 10px;
  }
  #Feedback h2{
    width: 40%;
  }
  .feedback-card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
  }
  .feedback-card {
    padding: 60px 40px;
    width: 33%
  }

  /* Blog */
  .blog-card{
    width: 30%;
  }
  .tag{
  top:230px;
}
}
